@use "../global/" as *;

/*
========================
News Page Component
========================
*/

.news-sect {
  .news-page-cont {
    padding: 6rem 0;
    width: 100%;
    display: flex;
    gap: 3rem;
    min-height: 800px;

    .main-menu {
      width: 72%;
    }

    .side-menu {
      width: 28%;
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
    }
  }
}
