@use "./colors" as *;
@use "./typography" as *;

// universal reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

// base styles
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  // background-color: $bg-white;
  font-family: $basic-font;
  position: relative;
}

.container {
  margin: 0 auto !important;
  padding: 0 10px !important;

  @media (min-width: 768px) {
    max-width: 750px;
  }

  @media (min-width: 1000px) {
    max-width: 980px;
  }

  @media (min-width: 1200px) {
    max-width: 1170px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

// scroll bar ------

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ff4d30 #ffffff;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:hover {
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:active {
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #ff4d30;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #ff4d30;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #ff2525;
}
