@use "./colors" as *;
@use "./typography" as *;

/*
=====================
Universal Reset
=====================
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

// base styles
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  // background-color: $bg-white;
  font-family: $basic-font;
  position: relative;
}

ul {
  li {
    list-style-type: none;
  }
}
section {
  width: 100%;
}

$mobile-width: 760px;
$medium-width: 1000px;
$desktop-width: 1200px;

.container {
  margin: 0 auto !important;
  padding: 0 10px;

  @media (min-width: $mobile-width) {
    max-width: 750px;
  }

  @media (min-width: $medium-width) {
    max-width: 980px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1170px;
  }
}


.container-wide {
  margin: 0 auto !important;
  width: 100%;
  padding: 0;
  @media (min-width: $mobile-width) {

  }

  @media (min-width: $medium-width) {

  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
  
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*
=====================
Scrollbar
=====================
*/

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $primary-red #ffffff;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:hover {
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:active {
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: $primary-red;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: $primary-red;
}

*::-webkit-scrollbar-thumb:active {
  background-color: $primary-red;
}
