// background colors
$bg-gray: #f8f8f8;

$bg-white: #ffffff;
$bg-white-gray: #F7F7F7;

// primary colors
$primary-red: #da1c36;


// borders
$transparent-white: rgba(114, 113, 113, 0.5);

// text colors
$text-black: #222222;

$text-gray: #999;
$text-gray-2: #777777;
$text-gray-3: #444444;