// background colors
$bg-gray: #f8f8f8;
$bg-white: #ffffff;

// primary colors
$primary-red: #da1c36;

// text color
$text-black: #222222;
$text-gray: #999;

// borders
$transparent-white: rgba(114, 113, 113, 0.5);

