@use "../global/" as *;

/*
==============================
Variables
==============================
*/

/*
==============================
RentalFleets Section Component
==============================
*/
.rental-fleets-sect {
  position: relative;
  padding-top: 6rem;
  padding-bottom: 190px;
  min-height: 500px;
  height: auto;
  width: 100%;

  .rental-fleets-cont {
    height: 100%;
    width: 100%;

    header {

    }
  }

  ul {
    width: 100%;
    display: flex;
    justify-content: start;
  }
}

