@use "../global/" as *;

/*
=====================
Variables
=====================
*/

$transparent-border-clr: rgb(228, 228, 228);

/*
=====================
Hero Styles
=====================
*/

.hero {
  min-height: 800px;
  height: 815px;
  width: 100%;
  position: relative;
  background: url(/src/images/bg-images/hero-bg.jpeg);
  background-size: cover;

  & .container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;

    // for better positioning
    margin-top: -2.5rem !important;

    & .cta {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      color: white;
      max-width: 570px;

      & h2 {
        font-size: 50px;
      }

      & p {
        font-size: 27px;
        line-height: 41px;
        max-width: 550px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .cta {
    & h2 {
      font-size: 45px !important;
      min-width: 350px;
      max-width: 350px;
    }

    & p {
      font-size: 2.5rem !important;
    }
  }
}

@media screen and (max-width: 655px) {
  .hero .container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    & .cta {
      padding-top: 2.3rem;
      & h2 {
        font-size: 35px !important;
        font-weight: 600;
        min-width: 300px;
        max-width: 300px;
      }
      & p {
        min-width: 300px;
        max-width: 300px;
        font-size: 2rem !important;
        line-height: 30px !important;
      }
    }
  }
}

/*
=====================
Hero Styles - Form
=====================
*/

.hero-form {
  background: white;
  color: $text-black;
  margin: 50px 125px;
  min-width: 295px;
  min-height: 420px;
  padding: 3rem 3.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  & div {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    width: 100%;

    & label {
      text-transform: uppercase;
      text-align: left;
      font-weight: 400;
      margin-bottom: 0.8rem;
    }

    & input,
    & select {
      width: 100%;
      border: 1px solid $transparent-border-clr;
      padding: 5px;
      line-height: 1.5;
      margin-bottom: 18px;
      color: $text-gray;
      height: 40px;
      font-family: $basic-font;
    }
  }
}

@media screen and (max-width: 995px) {
  .hero-form {
    margin: 0;
  }
}

/*
=====================
Miscellaneous
=====================
*/

.darken-text {
  color: $text-black !important;
}

.scroll {
  min-height: 100vh;
  min-width: 100%;
  background: transparent;
}
