@use "../global/" as *;

/*
=====================
Footer
=====================
*/

.footer-sect {
  background: #1a1a1a;
  height: 297px;

  .container {
    height: 100%;
    display: flex;
    align-items: center;

    .footer-flex {
      min-width: 100% !important;
      display: flex;
      justify-content: space-between;
      color: white;

      .col {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        .autostar-logo {
          width: 130px;
          height: 35px;
          margin-bottom: 2rem;
        }

        h6 {
          color: white;
          font-size: 16px;
          text-transform: uppercase;
          padding-bottom: 1rem;
        }

        a {
          color: #ccc;
          text-decoration: none;

          &:hover {
            color: $primary-red;
            text-decoration: underline;
          }
        }

        p {
          color: #ccc;
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .footer-sect {
    background: #1a1a1a;
    height: 297px;

    .container {
      height: 100%;
      display: flex;
      align-items: center;

      .footer-flex {
        min-width: 100% !important;
        display: flex;
        justify-content: space-between;
        color: white;

        .col {
          display: flex;
          flex-direction: column;
          gap: 1.25rem;

          .autostar-logo {
            width: 130px;
            height: 35px;
            margin-bottom: 2rem;
          }

          h6 {
            color: white;
            font-size: 14px;
            text-transform: uppercase;
            padding-bottom: 1rem;
          }

          a {
            color: #ccc;
            text-decoration: none;

            &:hover {
              color: $primary-red;
              text-decoration: underline;
            }
          }

          p {
            color: #ccc;
            font-size: 10px;
          }
        }
      }
    }
  }
}

