@use "../global/" as *;

/*
=====================
Autolisting Container
=====================
*/

.autolisting-sect {
  min-height: auto;
  padding: 8rem 0;
  .container {
    display: flex;
    gap: 2.5rem;

    .grouping {
      display: flex;
      gap: 6rem;
      flex-direction: column;
      width: 77%;
    }

    // Filter sidebar
    aside {
      width: 23%;
    }
  }
}

@media screen and (max-width: 999px) {
  .autolisting-sect {
    .container {
      flex-direction: column;
      gap: 15rem;
    }
  }
}
