@use "../global/" as *;

/*
===============================
DynamicHeader Componenet Styles
===============================
*/
.dynamic-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  padding-bottom: 4rem;

  // header main title
  h2 {
    font-size: 34px;
    text-transform: uppercase;
    padding-bottom: 1rem;
    font-weight: 700;
    max-width: 400px;
  }

  // subtitle
  h4 {
    font-size: 15.5px;
    font-family: $fancy-font;
    color: $text-gray;
    font-weight: 600;
  }

  // body text
  p {
    color: $text-gray;
    text-align: center;
    font-size: 14px;
    max-width: 455px;
    margin: 0 auto;
    margin-top: 2rem;
  }

  // red underline svg
  .underline-cont {
    width: 5rem;
    height: 4.5rem;

    svg {
      height: 100%;
      width: 100%;
    }
  }
}

// media Query
@media screen and (max-width: $mobile-width) {
  .dynamic-header {
    h2 {
      font-size: 28px;
      max-width: 300px;
    }

    p {
      max-width: 95%;
    }
  }
}
