@use "../global/" as *;


/*
========================
Customer Reviews Section
========================
*/
.customer-reviews-sect {
  position: relative;
  padding-top: 10rem;
  padding-bottom: 12rem;
  
  header {
    margin-bottom: 1rem;
  }
  
}